{% extends "teacher/base.html" %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

<style>

</style>

{% endblock style %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center my-0 mx-2">
        <h1 class="text-dark mx-3">
            <br>
            Welcome to Teacher Dashboard
        </h1>

    </div>
    <div class="container container-fluid mb-4" >
        <div class="row" style="height: auto;">

<!--            Barchart column-->
            <div class="col-lg-7 p-0 px-2">
                <div id="chartContainer" class="card h-100">
                    <div class="card-body">
                        <canvas id="stackCol" width="1000" height="700"></canvas>
                    </div>
                </div>
            </div>

<!--            New students column-->
            <div class="col-lg-5 p-0 px-2" id="joinRequestCardContainer">
                <div class="card h-100" id="joinRequestCard">
                    <div class="card-header">
                        JOIN REQUESTS
                    </div>

                    <div class="alert" role="alert" id="requestStatusAlert">
                        ....
                    </div>

                    <div id="incomingStudentListContainer">
                        <ul id="incomingStudentList" class="list-group list-group-flush p-1" style="height: 480px; overflow-y: scroll;">
                        {% if student_requests %}
                            {% for request in student_requests %}
                                <li  class="list-group-item my-1 text-dark">
                                    <div class="row">
                                        <div class="col-8">
                                            <div>
                                                {{ request['last_name'] }}, {{ request['first_name'] }}
                                            </div>
                                            <div>
                                                {{ request['section_no'] }} - {{ request['name'] }}
                                            </div>
                                        </div>
                                        <div class="col-4">
                                            <span class="float-end">
                                                <a type="button" class="btn btn-success acceptRequestButton align-middle" section_id="{{ request['section_id'] }}" action="1" student_id="{{ request['student_id'] }}">
                                                    <i class="fas fa-solid fa-check fs-5"></i>
                                                </a>
                                                <a type="button" class="btn btn-outline-danger align-middle declineStudent"
                                                   data-bs-toggle="modal" data-bs-target="#declineStudentModal" section_id="{{ request['section_id'] }}"
                                                   action="0" student_id="{{ request['student_id'] }}" student_name="{{ request['last_name'] }}, {{ request['first_name'] }}">
                                                    <i class="fas fa-solid fa-xmark fs-5"></i>
                                                </a>
                                            </span>
                                        </div>
                                    </div>
                                </li>
                            {% endfor %}
                        {% else %}
                            <li  class="list-group-item my-1 text-dark">
                                <span>No Student Requests.</span>
                            </li>
                        {% endif %}
                            <li class="hr"></li>

                    </ul>
                    </div>

                </div>
            </div>
        </div>



    </div>

<!-- Decline Modal -->
<div class="modal fade" id="declineStudentModal" tabindex="-1" aria-labelledby="declineStudentModal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header" id="declineStudentModalHeader">
                <h5 class="modal-title text-black" id="declineStudentModalLabel">Modal title</h5>
            </div>
            <div class="modal-body" id="declineStudentModalBody">
                <div>
                    <label for="declineDescription" class="text-black mb-2">Reason</label>
                    <textarea class="form-control" placeholder="Leave a reason why..." id="declineDescription"></textarea>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button id="proceedDecline" type="button" class="btn rejectRequestButton"
                   style="background: #c46d38;border-color: #c46d38 !important; color: white !important;"
                    section_id="" action="" student_id="">Proceed</button>
            </div>
        </div>
    </div>
</div>

{% endblock content %}

{% block extra_js %}

<script src="{{ url_for('static', filename='js/teacherChart.js') }}"></script>
<script src="{{ url_for('static', filename='js/studentRequests.js') }}"></script>

<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<script>
$(document).ready(function() {
    var inpLength = $('#declineDescription').val().length;

    if (inpLength <= 0){
        $("#proceedDecline").prop("disabled", true);
    }

    $('#declineDescription').on('keyup', function() {
        inpLength = $('#declineDescription').val().length;
        if (inpLength > 0){
            $("#proceedDecline").prop("disabled", false);
        }else{
            $("#proceedDecline").prop("disabled", true);
        }
    });


});


</script>


<script>

function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
        if(key == 'email' || key == 'mobile'){
            key = key.charAt(0).toUpperCase() + key.slice(1);
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        }
    });
    return html.join('');
}
</script>

<script>
$(document).ready(function () {
    $(document).on(
        {'click': function() {

            $('#proceedDecline').attr('section_id', '');
            $('#proceedDecline').attr('student_id', '');
            $('#proceedDecline').attr('action', '');
            $('#declineStudentModalHeader h5').html('');

            var section_id = $(this).attr('section_id');
            var student_id = $(this).attr('student_id');
            var action = $(this).attr('action');
            var student_name = $(this).attr('student_name');

            $('#proceedDecline').attr('section_id', section_id);
            $('#proceedDecline').attr('student_id', student_id);
            $('#proceedDecline').attr('action', action);
            $('#declineStudentModalHeader h5').html('Decline ' + student_name + '?');

            }
        }, '.declineStudent');
});
</script>

<script>
$(document).ready(function () {
    $("#dashboard").addClass('active');
    $('#requestStatusAlert').css('display', 'none');
});
</script>

{% endblock extra_js %}