{% extends "teacher/base.html" %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

<style>

</style>

{% endblock style %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center my-0 mx-2">
        <h1 class="text-dark mx-3">
            <br>
            Welcome to Teacher Dashboard
        </h1>

    </div>
    <div class="container container-fluid mb-4" >
        <div class="row" style="height: auto">
            <div class="col col-7 p-0">
                <div id="chartContainer" class="card h-100">
                    <div class="card-body">
                        <canvas id="stackCol" width="1000" height="400"></canvas>
                    </div>
                </div>
            </div>

            <div class="col col-5">
              <div class="card h-100">
                    <div class="card-header">
                        NEW STUDENT
                    </div>
                    <div class="card-body" style="height:10px; overflow-y: scroll;">

                        <div id="sectionListContainerDataTable" class="rounded-3 my-1 text-dark">

                            <table class="table"
                            id="dataTableSectionList"
                            data-toggle="table"
                            data-pagination="true"
                            data-sort-name="last_name"
                            data-sort-order="asc"
                            data-show-toggle="false"
                            data-show-search-button="false"
                            data-detail-view="true"
                            data-detail-view-icon="false"
                            data-detail-view-by-click="true"
                            data-detail-formatter="detailFormatter"
                            data-search-on-enter-key="false">

                                <thead>
                                    <tr>
                                        <th data-field="last_name" data-sortable="true">Surname</th>
                                        <th data-field="first_name" data-sortable="true">Given Name</th>
                                        <th data-field="middle_name" data-sortable="true">Middle Name</th>
                                    </tr>
                                </thead>

                            </table>
                      </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

{% endblock content %}

{% block extra_js %}

<script src="{{ url_for('static', filename='js/teacherChart.js') }}"></script>

<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<script>

function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
        if(key == 'email' || key == 'mobile'){
            key = key.charAt(0).toUpperCase() + key.slice(1);
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        }
    });
    return html.join('');
}
</script>
<script>
$(document).ready(function () {
    $("#dashboard").addClass('active');
});
</script>
{% endblock extra_js %}