{% extends "teacher/base.html" %}

{% block style %}
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

<style>

</style>

{% endblock style %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center my-0 mx-2">
        <h1 class="text-dark mx-3">
            <br>
            Welcome to Teacher Dashboard
        </h1>

    </div>
    <div class="container container-fluid mb-4" >
        <div class="row" style="height: auto;">

<!--            Barchart column-->
            <div class="col-lg-7 p-0">
                <div id="chartContainer" class="card h-100">
                    <div class="card-body">
                        <canvas id="stackCol" width="1000" height="700"></canvas>
                    </div>
                </div>
            </div>

<!--            New students column-->
            <div class="col-lg-5 p-0">
              <div class="card h-100">
                    <div class="card-header">
                        INCOMING STUDENT
                    </div>
                    <div class="card-body p-1" style="height: 400px; overflow-y: scroll;">

                        <div id="incomingStudentList" class="rounded-3 my-1 text-dark">

                            {% for i in range(9) %}
                                <div class="card border-light mb-1">
                                  <div class="card-body">
                                    This is some text within a card body.
                                  </div>
                                </div>
                            {% endfor %}

                      </div>

                    </div>
                </div>
            </div>
        </div>



    </div>

{% endblock content %}

{% block extra_js %}

<script src="{{ url_for('static', filename='js/teacherChart.js') }}"></script>

<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.7.1/dist/chart.min.js"></script>

<script>

function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
        if(key == 'email' || key == 'mobile'){
            key = key.charAt(0).toUpperCase() + key.slice(1);
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        }
    });
    return html.join('');
}
</script>
<script>
$(document).ready(function () {
    $("#dashboard").addClass('active');
});
</script>
{% endblock extra_js %}