{% extends "teacher/base.html" %}

{% block style %}

<link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap/css/bootstrap-table.min.css') }} ">

<style>
    .float-right.search.btn-group{
        float: right;
    }

    body{
      scrollbar-color: auto;
    }

</style>

{% endblock style %}

{% block content %}

<!--    Section list-->
<div class="container-fluid">

    <div class="d-sm-flex justify-content-between align-items-center my-0">
        <h3 class="text-dark mx-3 my-4">
            SECTIONS

            <!--        Refresh Button-->
            <!--                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" id="sectionRefresh" style="background: none;border-style: none;color: #EDB518;">-->
            <!--                    <i class="fas fa-solid fa-arrows-rotate fw-bold"></i>-->
            <!--                </a>-->
        </h3>

    </div>

    <div class="row">
        <!--            Sections list-->
        <div class="col-lg-4 p-0 px-2" style="height: 500px;">
            <div id="teacherListContainer" class="card h-100 border border-light overflow-auto">
                <ul class="list-group list-group-flush" id="sectionList">
                    {% for section in section_list %}
<!--                    <div class="col-md-12 mb-2">-->
                        <a class="viewSectionStudentList" section_id="{{section[0].section_id}}" style="cursor: pointer; text-decoration: none;">

                            <li class="list-group-item my-0 viewSectionStudentListCard" id="viewSectionStudentListCard{{section[0].section_id}}"  section_id="{{section[0].section_id}}">
<!--                                <div class="card-body py-0">-->
                                    <div class="row align-items-center no-gutters">

<!--                                        <div class="col col-2">-->
<!--                                            <div class="text-dark fw-bold">-->
<!--                                                {% if section[2] == 1 %}-->
<!--                                                <i class="fas fa-solid fa-book-open-reader text-gray-300 fs-3" data-bs-toggle='tooltip' data-bs-placement='top' title='Academic Track'></i>-->
<!--                                                {% elif section[2] == 2 %}-->
<!--                                                <i class="fas fa-solid fa-palette text-gray-300 fs-3" data-bs-toggle='tooltip' data-bs-placement='top' title='Arts and Design Track'></i>-->
<!--                                                {% elif section[2] == 3 %}-->
<!--                                                <i class="fas fa-solid fa-basketball text-gray-300 fs-3" data-bs-toggle='tooltip' data-bs-placement='top' title='Sports Track'></i>-->
<!--                                                {% elif section[2] == 4 %}-->
<!--                                                <i class="fas fa-solid fa-microchip text-gray-300 fs-3" data-bs-toggle='tooltip' data-bs-placement='top' title='TVL Track'></i>-->
<!--                                                {% else %}-->
<!--                                                <i class="fas fa-solid fa-chalkboard text-gray-300 fs-3"></i>-->
<!--                                                {% endif %}-->
<!--                                            </div>-->
<!--                                        </div>-->

                                        <div class="col col-12">
                                            <div class="text-uppercase fw-bold h6 p-2">
                                                <span class="sectionNumber">{{ "{:02d}".format(section[0].section_no) }}</span> -
                                                <span class="sectionStrand">{{ section[1] }}</span>
                                            </div>
                                        </div>

                                    </div>
<!--                                </div>-->
                            </li>
                        </a>
<!--                    </div>-->
                    {% endfor %}
                </ul>
            </div>
        </div>


        <!--        Section List-->
        <div class="col-lg-8 p-0 px-2">
            <div id="sectionStudentListContainer"  class="card h-100 border-light">
                <div class="card-header" id="sectionStudentListHeader">
                    <span class="text-black fs-5">
                        SECTION NAME
                    </span>
                </div>
                <div class="card-body" id="studentList" style="height: 450px; overflow-y: scroll;">
                    <div id="sectionStudentListContainerDataTable" class="rounded-3 my-1 text-dark">

                        <table class="table table-light table-sm"
                               id="sectionStudentListTable"
                               data-toggle="table"
                               data-search="true"
                               data-search-accent-neutralise="true"
                               data-search-align="right"
                               data-pagination="true"
                               data-sort-name="last_name"
                               data-sort-order="asc"
                               data-show-toggle="false"
                               data-show-search-button="false"
                               data-detail-formatter="detailFormatter"
                               data-search-on-enter-key="false">

                            <thead>
                            <tr>
                                <th data-field="last_name" data-sortable="true" data-width="900">Lastname</th>
                                <th data-field="first_name" data-sortable="true" data-width="900">Firstname</th>
                                <th data-field="actions" data-width="100">Actions</th>
                            </tr>
                            </thead>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>



    <!--    Transfer or remove Modal-->
<form id="transferStudentForm">
    <div class="modal fade" id="transferStudentModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
        <div class="modal-dialog modal-dialog-scrollable">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-black" id="transferStudentModalHeader">
                        <i class='fas fa-solid fa-arrow-right-from-bracket' data-bs-toggle='tooltip' data-bs-placement='top' title='Transfer student' style='color: #c46d38;'></i>
                        &nbsp;
                        TRANSFER/REMOVE STUDENT
                    </h5>
                </div>
                <div class="modal-body" id="transferStudentModalBody">

                    <!--          Flash message-->
                    <div class="alert" style="display: none;" id="transferStudentResult"></div>

                    <div class="row g-2 p-2">
                        <div class="col-xl alert alert-info alert-dismissible fade show" id="remNote" role="alert">
                            <small> <strong> Note: </strong> You may transfer a student to other section within the section you are supervising.
                                Removal of student is an option if in case of any unknown student.
                            </small>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    </div>

                    <div class="row g-2 p-2">
                        <div class="col-xl">
                            <div class="form-floating">
                                <input type="text" name="track_code" class="form-control text-dark" id="student_id" value student_id="" readonly>
                                <label for="student_id" class="text-dark">Student</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 p-2">
                        <div class="col-xl">
                            <div class="form-floating">
                                <select class="form-select text-dark" name="trackOptions" id="sectionOptions" aria-label="Floating label select example" required>
                                    <option value disabled selected>Choose...</option>
                                    <option value=-1 class="text-danger">Remove</option>
                                    <option disabled>Or transfer to...</option>
                                    {% for section in section_list %}
                                    <option value="{{section[0].section_id}}" class="text-dark">{{ "{:02d}".format(section[0].section_no) }} - {{ section[1] }}</option>
                                    {% endfor %}

                                </select>
                                <label for="sectionOptions">Modify Student's Section...</label>
                            </div>
                        </div>
                    </div>

                    <div class="row g-2 p-2">
                        <div class="col-xl">
                            <div class="form-floating">
                                <textarea name="actionReason" class="form-control" placeholder="Leave a comment here" id="reasonTextArea" style="height: 100px" required></textarea>
                                <label for="reasonTextArea">Please state your reason.</label>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal" id="closeAddStrandModal">CANCEL</button>
                    <button type="submit" class="btn" style="background: #c46d38;border-color: #c46d38 !important; color: white !important;" id="transferStudent">SUBMIT</button>

                </div>
            </div>
        </div>
    </div>
</form>

<!--    Student scores modal-->
<div class="modal fade" id="scoreStudentModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title text-black" id="scoreStudentModalHeader">
                    <i class='fas fa-solid fa-medal' data-bs-toggle='tooltip' data-bs-placement='top' title='Transfer student' style='color: #c46d38;'></i>
                    &nbsp;STUDENT Name

                </h5>
            </div>
            <div class="modal-body" id="scoreStudentModalBody">

                <div class="fs-3 text-black mb-5" id="averageGrade"> No available data  </div>

                <ul class="list-group list-group-flush" id="activityList">
                    <li class="list-group-item">No Activities Done Yet!</li>
                </ul>


            </div>
            <div class="modal-footer">
                <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>

            </div>
        </div>
    </div>
</div>


</div>




{% endblock content %}

{% block extra_js %}

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-table.min.js') }}"></script>

<script src="{{ url_for('static', filename='js/add_section.js') }}"></script>
<script src="{{ url_for('static', filename='js/getStudentGrade.js') }}"></script>
<script src="{{ url_for('static', filename='js/transfer_section.js') }}"></script>
<script src="{{ url_for('static', filename='js/getStudentInfo.js') }}"></script>
<script src="{{ url_for('static', filename='js/ModalViewStudentList.js') }}"></script>
<script src="{{ url_for('static', filename='js/getStudentListPerSection.js') }}"></script>
<script src="{{ url_for('static', filename='js/teacherReload.js') }}"></script>
<script src="{{ url_for('static', filename='js/trackStrandOptionControl.js') }}"></script>

<script>
$(document).ready(function () {
    $("#sectionTab").addClass('active');
});
</script>

<script>
$(document).ready(function () {
    $(document).on(
        {'click': function() {
            $('.viewSectionStudentListCard').removeClass('text-danger');
            var sec = $(this);
            sec.removeClass('text-dark');
            sec.addClass('text-danger');
            var i = $(this).attr('teacher_id')
            $("#teacherID option[value="+i+"]").prop('selected', true);
            var section = $(this).text().trim().replace('\n','').replace(/ /g,' ');
            $('#sectionStudentListHeader span').text(section);
        }
    }, '.viewSectionStudentListCard');
    $('.viewSectionStudentListCard')[0].click();

});
</script>

{% endblock extra_js %}