{% extends "public/base.html" %}

{% block style %}
<script src="{{ url_for('static', filename='fonts/fas-icons.js') }}" crossorigin="anonymous"></script>
{% endblock style %}

{% block content %}
<div class="container-xxl">
    <div class="justify-content-between align-items-center my-5 mx-2">

        <div class="row pt-5">
            <div class="col">
                <div class="position-relative" style="width:50rem; height: 30rem;">
                    <div class="card mb-3 border border-0 position-absolute" style="width: 30rem; height: 28rem; background: #EDB518;">
                        <div class="card-body">

                        </div>
                    </div>
                    <img src="{{ url_for('static', filename='images/about_page.gif') }}" width="700rem" class="rounded-3 position-absolute" style="top: 3rem; left: 4rem;">
                </div>
            </div>

            <div class="col">
                <div class="text-white mt-5">
                    <hr style="background:#EDB518;opacity:1; width:10rem; height: .7rem;">
                    <p class="fs-3"><strong style="color:#EDB518;"> ARAW </strong> means <em> A Real-time Arnis Web-application </em></p>
                    <p class="fs-5">
                        An Arnis practice and scoring AI-embedded system that uses human pose estimation to evaluate your 12 Basic strikes and  12 Basic Blocks techniques while being at the comfort of your home.
                    </p>
                    <p class="fs-5">
                        Evaluate your poses now, with <strong style="color:#EDB518;"> ARAW. </strong>
                    </p>
                    <a href="{{ url_for('signup') }}" type="button" class="btn btn-warning fs-4 rounded-pill" style="color:#79031d;">Get Started</a>
                </div>
            </div>
        </div>

        <br><br><br><br><br>
        <div class="row">
            <h3 class="text-white">The team behind <strong style="color: #EDB518;"> ARAW </strong></h3>
            <div class="col mt-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/elias.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Elias Ezar R. Cabo</h5>
                        <p class="card-text">Project Manager</p>
                    </div>
                </div>
            </div>

            <div class="col mt-5">
                <div class="card" style="width: 17rem;">
                    <img src="{{ url_for('static', filename='images/jeah.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Jeah T. Salsalida</h5>
                        <p class="card-text">Project Member</p>
                    </div>
                </div>
            </div>

            <div class="col mt-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/alar.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Dr. Hernan S. Alar, Ph.D.</h5>
                        <p class="card-text">Adviser</p>
                    </div>
                </div>
            </div>
        </div>

        <br><br><br><br><br>
        <div class="row">

            <h3 class="text-white"><strong style="color: #EDB518;"> Special Thanks to </strong></h3>
            <div class="col mt-5">
                <div class="card" style="width: 18rem;">
                    <img src="{{ url_for('static', filename='images/sir-manny.jpg') }}" class="card-img-top" alt="...">
                    <div class="card-body">
                        <h5 class="card-title text-dark">Mr. Emmanuelle De Guzman</h5>
                        <p class="card-text">
                            Project Resource Person
                            <br>
                            MATTI San Juan
                        </p>
                        <a href="https:/www.facebook.com/mattisanjuan/" target="_blank" style="text-decoration: none;">
                            <i class="fa fa-brands fa-facebook-square text-info fs-3"></i>
                        </a>
                        <a href="https://www.youtube.com/channel/UCDuAYTZ7K3Zh6WAjV4u2z4A/" target="_blank" style="text-decoration: none;">
                            <i class="fa fa-brands fa-youtube text-danger fs-3"></i>
                        </a>


                    </div>
                </div>
            </div>

        </div>

    </div>
</div>
<footer class="sticky-footer text-white" style="background: ##79031d;">
    <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Project ARAW 2022</span></div>
    </div>
</footer>

{% endblock content %}