{% extends "public/base.html" %}

{% block content %}
    <div id="mid-frame">
        <a href="javascript:history.back()">
            <div class="back">
                <div class="arrow"></div>
            </div>
        </a>
        <img src="{{ url_for('static', filename='images/pugay_logo_half.png') }}">
        <h1>Pugay!</h1>
        <form method="POST" action="{{url_for('login')}}">
            <div class="txt_field">
                <input type="text" name="username" required>
                <span></span>
                <label>Username</label>
            </div>
            <div class="txt_field">
                <input type="password" name="password" required>
                <span></span>
                <label>Password</label>
            </div>
            <input type="submit" value="Log in"><br>
            <a href="{{ url_for('signup') }}" class="join">Create Account</a>
            <hr>
            <a href="#" class="pass">Forgot password?</a>
      </form>
    </div>
{% endblock content %}