{% extends "public/base.html" %}

{% block style %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/login.css') }}">
{% endblock %}

{% block content %}
{% from "flask_user/_macros.html" import render_field, render_checkbox_field, render_submit_field %}

    <section class="login-clean" style="background: rgba(241,247,252,0);padding-top: 40px;">
        <form method="post" style="padding: 0;background: #f5f7f7;border-radius: 10px;max-width: 500px;min-width: 200px;">
            {{ form.hidden_tag() }}

            {# Username or Email field #}
             {% set field = form.username if user_manager.USER_ENABLE_USERNAME else form.email %}
            <header style="background: #79031d;border-top-left-radius: 10px;border-top-right-radius: 10px;">
                <a id="previous" href="javascript:history.back()" data-bs-toggle="tooltip" data-bss-tooltip="" data-bs-placement="bottom" title="Back" style="position: absolute; z-index:1;">
                    <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" style="color: #f5f7f7;font-size: 50px;padding-top: 5px;padding-left: 1px;">
    <path d="M20.3284 11.0001V13.0001L7.50011 13.0001L10.7426 16.2426L9.32842 17.6568L3.67157 12L9.32842 6.34314L10.7426 7.75735L7.49988 11.0001L20.3284 11.0001Z" fill="currentColor"></path>
</svg>
                </a>
                <img class="d-block mx-auto" src="{{ url_for('static', filename='images/pugay_logo-white.png') }}" style="font-size: 17px;height: 60px; padding-top: 10px;" loading="lazy">
                <h1 class="text-center" style="text-align: center;font-family: Montserrat, sans-serif;color: #f5f7f7; font-size: 24px; padding-bottom:10px;">PUGAY!</h1>
            </header>
            <div id="body" style="padding: 0px 40px 0px 40px;">
                <div class="txt_field">
<!--                    <input type="email" name="email" required>-->
                    {{ field(class_='form-control', tabindex=110) }}
                    <span></span>
                    <label>Email</label>
                </div>

                {% if field.errors %}
                    {% for e in field.errors %}
                        <p class="help-block" style="color: red; font-size: 13px; ">{{ e }}</p>
                    {% endfor %}
                {% endif %}

                {# Password field #}
                {% set field = form.password %}
                <div class="txt_field">
<!--                    <input type="password" name="password" required>-->
                    {{ field(class_='form-control', tabindex=120) }}
                    <span></span>
                    <label>Password</label>
                </div>

                <div class="form-check  my-2">
                  <input class="form-check-input" type="checkbox" value="" id="defaultCheck1" onclick="showPass()">
                  <label class="form-check-label fs-6" for="defaultCheck1">
                    Show Password
                  </label>
                </div>

                {% if field.errors %}
                    {% for e in field.errors %}
                        <p class="help-block" style="color: red; font-size: 13px; ">{{ e }}</p>
                    {% endfor %}
                {% endif %}

                <div class="mb-3">
                    {# Submit button #}
                    <button class="btn btn-primary d-block w-100" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse" type="submit" style="background: #edb518;border-radius: 10px;font-family: Montserrat, sans-serif;">Log In</button>
                    <a href="{{ url_for('signup') }}" class="btn btn-primary d-block w-100" data-bss-hover-animate="pulse" style="background: rgba(237,181,24,0);margin-top: 5px;color: #edb518;border-style: solid;border-radius: 10px;font-family: Montserrat, sans-serif;">Create Account</a>
                </div>
            </div>
            <a class="forgot" href="{{ url_for('user.forgot_password') }}" style="text-align: right;padding-right: 20px;padding-bottom: 10px;">Forgot your password?</a>
        </form>
    </section>
    <script src="assets/bootstrap/js/bootstrap.min.js"></script>
    <script src="assets/js/bs-init.js"></script>

{% endblock content %}

{% block extra_js %}

<!--    Show Password option-->
    <script src="{{ url_for('static', filename='js/show_password.js') }}"></script>

{% endblock extra_js %}