.navbar a {
  text-decoration: none;
}

@media (max-width: 550px) {
  .navbar-brand {
    display: block;
  }
}

a.nav-link:hover {
  border-bottom: 3.5px solid #F5F7F7;
  font-weight: bolder;
}

body {
  height: 100%;
}

div#banner-name {
  display: inline-block;
}

@media (max-width: 550px) {
  #banner-img {
    padding-bottom: 50px;
  }
}

a.nav-link {
  display: inline-block;
}

