{% extends "admin/base.html" %}

{% block style %}

<link href="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.css" rel="stylesheet">

<style>
    #sectionContainerDataTable button{
        background: #EDB518 !important;
        border-color: #EDB518 !important;
    }

    #sectionListContainerDataTable button{
        background: #EDB518 !important;
        border-color: #EDB518 !important;
    }
</style>

{% endblock style %}

{% block content %}
    <div class="d-sm-flex justify-content-between align-items-center my-0 mx-2">
        <h1 class="text-dark mx-3" style="height: 127px;"><br>Welcome to Admin Dashboard<br><br></h1>

    </div>

<!--    Teachers list-->

    <div class="container-fluid">
        <div class="d-sm-flex justify-content-between align-items-center mb-4">
            <h3 class="text-dark mb-0">Teachers
                <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" id="teacherRefresh" style="background: none;border-style: none;color: #EDB518;">
                    <i class="fas fa-solid fa-arrows-rotate fw-bold"></i>
                </a>
            </h3>
        </div>
        <div id="teacherContainer">
            <div class="row" id="teacherList">

    <!--            Looping through Arnis teachers from database-->

                {% for teach in teacher %}

                <div class="col-md-6 col-xl-3 mb-4">
                     <a class="viewTeacher" teacher_id="{{teach[0].teacher_id}}" style="cursor: pointer; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#viewTeacherModal">
                        <div class="card shadow border-start-primary py-2">
                            <div class="card-body">
                                <div class="row align-items-center no-gutters">
                                    <div class="col me-2" style="text-align: right;">
                                        <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="teacherFirstName" style="color: #c46d38;">{{ teach[1].first_name }}</span></div>
                                        <div class="text-dark fw-bold h5 mb-0"><span class="teacherLastName">{{ teach[1].last_name }}</span></div>
                                    </div>
                                    <div class="col-auto"><i class="fas fa-user-tie fa-2x text-gray-300"></i></div>
                                </div>
                            </div>
                        </div>
                     </a>
                </div>

                {% endfor %}
            </div>
        </div>
    </div>

<!--    Section list-->
    <div class="container-fluid">
    <div class="d-sm-flex justify-content-between align-items-center mb-4">
        <h3 class="text-dark mb-0">Students per Section
            <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" id="sectionRefresh" style="background: none;border-style: none;color: #EDB518;">
                <i class="fas fa-solid fa-arrows-rotate fw-bold"></i>
            </a>
        </h3>
        <a class="btn btn-primary btn-sm d-none d-sm-inline-block" role="button" data-bs-toggle="modal" data-bs-target="#addSectionModal" style="background: #c46d38;border-color: #c46d38;">
            <i class="fas fa-solid fa-plus  text-white"></i>  Register a section
        </a>
    </div>
    <div id="sectionContainer">
        <div class="row" id="sectionList">

            {% for section, strand, teacher in sec %}
            <div class="col-md-6 col-xl-3 mb-4">
                <a class="viewSection" section_id="{{section.section_id}}" style="cursor: pointer; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#viewSectionListModal">
                    <div class="card shadow border-start-primary py-2">
                        <div class="card-body">
                            <div class="row align-items-center no-gutters">
                                <div class="col me-2" style="text-align: right;">
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span class="fs-1 sectionPopulation" data-bs-toggle="tooltip" title="Students Enrolled">
                                            {% if section.population == None %}
                                                0
                                            {% else %}
                                                {{ section.population }}
                                            {% endif %}
                                        </span>
                                    </div>
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="fs-5 sectionNumber" style="color: #c46d38;">Section {{ "%02d" % section.section_no }}</span></div>
                                    <div class="text-uppercase text-primary fw-bold text-xs mb-1"><span class="fs-6 sectionStrand" style="color: #EDB518;">{{ strand }}</span></div>
                                    <div class="text-dark fw-bold h5 mb-0">
                                        <span style="font-size: 15px;color: #858796;" class="assignedTeacher">
                                            {% if teacher == None %}
                                                Unassigned section
                                            {% else %}
                                                {{ teacher.first_name[0] }}.
                                                {{ teacher.last_name }}
                                            {% endif %}
                                        </span>
                                    </div>
                                </div>
                                <div class="col-auto"><i class="fas fa-users fa-2x text-gray-300"></i></div>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>

<div id="scrollHere"></div>

<!-- View Teacher Modal -->
<div id="viewTeacherModalContainer">
    <div class="modal fade" id="viewTeacherModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ModalTeacherName" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <a class="d-grid gap-2" data-bs-toggle="collapse" href="#collapseTeacherInfo" role="button" aria-expanded="false" aria-controls="collapseTeacherInfo" style="text-decoration: none;">
                  <i class="fas fa-solid fa-circle-info fs-4" style="color: #c46d38;"></i>
              </a>
            <h5 class="modal-title text-dark fw-bold ms-2" id="ModalTeacherName">

            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" data-bs-toggle="collapse" aria-expanded="false" aria-controls="collapseTeacherInfo"></button>
          </div>
          <div class="modal-body" id="modalBodySection">
              <div class="col">
                <div class="collapse multi-collapse" id="collapseTeacherInfo">

                </div>
              </div>

              <div id="sectionContainerDataTable" class="rounded-3 my-1 text-dark">

                <table class="table"
                id="dataTableTeacherSection"
                data-toggle="table"
                data-search="true"
                data-search-align="right"
                data-pagination="true"
                data-sort-name="section_no"
                data-sort-order="asc"
                data-show-toggle="false"
                data-show-search-button="false"
                data-detail-view="true"
                data-detail-view-icon="false"
                data-detail-view-by-click="true"
                data-search-on-enter-key="false">

                    <thead>
                        <tr>
                            <th data-field="section_no" data-sortable="true">Section No.</th>
                            <th data-field="track_name" data-sortable="true">Track</th>
                            <th data-field="strand_name" data-sortable="true">Strand</th>
                            <th data-field="population" data-sortable="true">Number of students</th>
                        </tr>
                    </thead>

                </table>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- View Student List from Section Modal -->
<div id="viewSectionListModalContainer">
    <div class="modal fade" id="viewSectionListModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="ModalTeacherName" aria-hidden="true">
      <div class="modal-dialog modal-dialog-scrollable modal-lg">
        <div class="modal-content">
          <div class="modal-header">
              <a class="d-grid gap-2" data-bs-toggle="collapse" href="#collapseSectionInfo" role="button" aria-expanded="false" aria-controls="collapseSectionInfo" style="text-decoration: none;">
                  <i class="fas fa-solid fa-circle-info fs-4" style="color: #c46d38;"></i>
            </a>
            <h5 class="modal-title text-dark fw-bold ms-2" id="modalSectionName">

            </h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body" id="modalBodySectionList">
              <div class="col">
                <div class="collapse multi-collapse" id="collapseSectionInfo">

                </div>
              </div>

              <div id="sectionListContainerDataTable" class="rounded-3 my-1 text-dark">

                <table class="table"
                id="dataTableSectionList"
                data-toggle="table"
                data-search="true"
                data-search-align="right"
                data-pagination="true"
                data-sort-name="last_name"
                data-sort-order="asc"
                data-show-toggle="false"
                data-show-search-button="false"
                data-detail-view="true"
                data-detail-view-icon="false"
                data-detail-view-by-click="true"
                data-detail-formatter="detailFormatter"
                data-search-on-enter-key="false">

                    <thead>
                        <tr>
                            <th data-field="last_name" data-sortable="true">Surname</th>
                            <th data-field="first_name" data-sortable="true">Given Name</th>
                            <th data-field="middle_name" data-sortable="true">Middle Name</th>
                            <th data-field="gender" data-sortable="true">Sex</th>
                        </tr>
                    </thead>

                </table>
              </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          </div>
        </div>
      </div>
    </div>
</div>

<!-- Add Section Modal -->
<form id="formSection">
    <div class="modal fade scrollable" id="addSectionModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabelAddSec" aria-hidden="true">
  <div class="modal-dialog modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title text-dark fw-bold" id="staticBackdropLabelAddSec">Register new section</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">

<!--          Flash message-->
          <div class="alert" style="display: none;" id="addResult"></div>

          <div class="row g-2 p-2">
              <div class="col-xl">
                <div class="form-floating">
                  <input type="number" class="form-control text-dark" id="sectionNumber" min="1" required>
                  <label for="sectionNumber" class="text-dark">Input Section Numbers</label>
                </div>
              </div>
          </div>

          <div class="row g-2 p-2">

              <div class="col-xl">
                <div class="form-floating">
                  <select class="form-select text-dark" id="trackID" aria-label="Floating label select example" required>
                    <option value=0 disabled selected>Choose...</option>
                      {% for track in tracks %}
                        <option value="{{track.track_id}}" class="text-dark">{{ track.name }} - {{ track.nickname }}</option>
                      {% endfor %}

                  </select>
                  <label for="trackID">Track</label>
                </div>
              </div>

          </div>

          <div class="row g-2 p-2">

              <div class="col-xl">
                <div class="form-floating">
                  <select class="form-select text-dark" id="strandID" aria-label="Floating label select example" required>
                    <option value=0 disabled selected>Choose...</option>
                      {% for strand in strands %}
                        <option value="{{strand.strand_id}}" class="text-dark">{{ strand.name }} - {{ strand.nickname }}</option>
                      {% endfor %}

                  </select>
                  <label for="strandID">Strand</label>
                </div>
              </div>

          </div>

          <div class="row g-2 p-2">

              <div class="col-xl">
                <div class="form-floating">
                  <select class="form-select text-dark" id="teacherID" aria-label="Floating label select example">
                    <option value="0" selected>Available Teachers</option>

                      {% for teach in teacher %}
                        <option value="{{teach[0].teacher_id}}" class="text-dark">{{ teach[1].last_name }}, {{ teach[1].first_name }}</option>
                      {% endfor %}

                  </select>
                  <label for="teacherID">Assign a Teacher</label>
                </div>
              </div>

          </div>

      </div>
      <div class="modal-footer">
        <button type="reset" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" class="btn" style="background: #c46d38;border-color: #c46d38 !important; color: white !important;" id="add_section">Submit</button>
      </div>
    </div>
  </div>
</div>
</form>



{% endblock content %}

{% block extra_js %}

<script src="{{ url_for('static', filename='js/add_section.js') }}"></script>
<script src="{{ url_for('static', filename='js/ModalViewTeacher.js') }}"></script>
<script src="{{ url_for('static', filename='js/ModalViewSection.js') }}"></script>
<script src="{{ url_for('static', filename='js/sectionReload.js') }}"></script>
<script src="{{ url_for('static', filename='js/teacherReload.js') }}"></script>
<script src="{{ url_for('static', filename='js/searchBar.js') }}"></script>
<script src="https://unpkg.com/bootstrap-table@1.19.1/dist/bootstrap-table.min.js"></script>

<script>
var my_date_format = function(input){
    var d = new Date(Date.parse(input.replace(/-/g, "/")));
    var month = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];
    var date = d.getDate() + ", " + month[d.getMonth()] + " " + d.getFullYear();
    var time = d.toLocaleTimeString().toLowerCase().replace(/([\d]+:[\d]+):[\d]+(\s\w+)/g, "$1$2");
    return (date + " " + time);
};

function detailFormatter(index, row) {
    var html = []
    $.each(row, function (key, value) {
        if(key == 'email' || key == 'mobile'){
            key = key.charAt(0).toUpperCase() + key.slice(1);
            html.push('<p><b>' + key + ':</b> ' + value + '</p>');
        }else if(key == 'date_joined'){
            html.push('<p><b>' + 'Date joined' + ':</b> ' + my_date_format(value) + '</p>');
        }
    });
    return html.join('');
}
</script>
{% endblock extra_js %}