<html>
<head>
  <title>Arnis Pose Description</title>
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/poseDesc.css') }}" />
  <link rel="icon" type="image/png" href="{{ url_for('static', filename='logo.png') }}" />
</head>
<body>
<nav>
  <ul class="nav">
    <li><a href="{{ url_for('instruction') }}" style="margin-right: 100px;">How to use</a></li>
    <li><a href="{{ url_for('poseDesc') }}" class="hActive">Pose Description</a></li>
    <li><a href="{{ url_for('about') }}">About</a></li>
    <li><a href="{{ url_for('index') }}">Home</a></li>
  </ul>
</nav>

<h1>Pose Details</h1>

<div class="row">

  <!-- ARNIS STRIKES -------------------------------------------------------------------------------->
  <div class="column">
    <h2>Arnis Strikes</h2>

    <div class="row">
      <!-- Left Temple Strike -->
      <div class="column3">
        <img src="{{ url_for('static', filename='a.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Temple Strike:</p>
        <article> Strike your opponent with your right hand higher than the shoulder and the arnis baston pointing to the right. Place the left hand by your right chest near the shoulder.</article>
      </div>
    </div>

    <div class="row">
      <!-- Right Temple Strike -->
      <div class="column3">
        <img src="{{ url_for('static', filename='b.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Temple Strike:</p>
        <article> Strike your opponent with your right hand higher than the shoulder and the arnis baston pointing to the left. Place the left hand by your right chest near the shoulder.</article>
      </div>
    </div>

    <div class="row">
      <!-- Left Arm/Shoulder Strike -->
      <div class="column3">
        <img src="{{ url_for('static', filename='c.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Arm/Shoulder Strike:</p>
        <article> Strike your opponent with your right hand lower than the shoulder and the arnis baston pointing to the right. Place the left hand by your right chest near the shoulder.</article>
      </div>
    </div>

    <div class="row">
      <!-- Right Arm/Shoulder Strike -->
      <div class="column3">
        <img src="{{ url_for('static', filename='d.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Arm/Shoulder Strike:</p>
        <article> Strike your opponent with your right hand lower than the shoulder and the arnis baston pointing to the left. Place the left hand by your right chest near the shoulder.</article>
      </div>
    </div>

    <div class="row">
      <!-- Stomach Thrust -->
      <div class="column3">
        <img src="{{ url_for('static', filename='e.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Stomach Thrust:</p>
        <article> Thrust to the opponent’s stomach with the right hand by your right hip and the arnis baston pointing upwards. Place your left hand between your right shoulder and elbow. </article>
      </div>
    </div>

    <div class="row">
      <!-- Left Chest Thrust -->
      <div class="column3">
        <img src="{{ url_for('static', filename='f.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Chest Thrust:</p>
        <article> Face to the right, then thrust to the opponent’s left chest with the forearm in level with the shoulder and the hand lower than the shoulder. Place the left hand between the right shoulder and elbow. </article>
      </div>
    </div>

    <div class="row">
      <!-- Right Chest Thrust -->
      <div class="column3">
        <img src="{{ url_for('static', filename='g.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Chest Thrust:</p>
        <article> Face to the left, then thrust to the opponent’s right chest with the forearm in level with the shoulder and the hand lower than the shoulder. Place the left hand between right the shoulder and elbow. </article>
      </div>
    </div>

    <div class="row">
      <!-- Right Knee/Leg Strike -->
      <div class="column3">
        <img src="{{ url_for('static', filename='h.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Knee/Leg Strike:</p>
        <article> Face front then strike the opponent’s right leg/knee with the hand on the side of your right hip. The wrist must face down and the arnis baston pointing to the left. Place the left hand by your right chest near the shoulder. </article>
      </div>
    </div>

    <div class="row">
      <!-- Left Knee/Leg Strike -->
      <div class="column3">
        <img src="{{ url_for('static', filename='i.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Knee/Leg Strike:</p>
        <article> Face front then strike the opponent’s left leg/knee with the hand on the side of right hip. The wrist must face up and the arnis baston pointing to the right. Place the left hand by your right chest near the shoulder. </article>
      </div>
    </div>

    <div class="row">
      <!-- Left Eye Thrust -->
      <div class="column3">
        <img src="{{ url_for('static', filename='j.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Eye Thrust:</p>
        <article> Face to the right, then thrust to the opponent’s left eye with the forearm in level with the shoulder and the hand higher than the shoulder. Place the left hand between your right shoulder and elbow. </article>
      </div>
    </div>

    <div class="row">
      <!-- Right Eye Thrust -->
      <div class="column3">
        <img src="{{ url_for('static', filename='k.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Eye Thrust:</p>
        <article> Face to the left, then thrust to the opponent’s left eye with the forearm in level with the shoulder the hand higher than the shoulder. Place the left hand between your right shoulder and elbow.</article>
      </div>
    </div>

    <div class="row">
      <!-- Crown Strike -->
      <div class="column3">
        <img src="{{ url_for('static', filename='l.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Crown Strike:</p>
        <article> Strike your opponent on the head, with the right hand stretched in front of your stomach and the arnis baston pointing upwards. Place the left hand between your right wrist and elbow.</article>
      </div>
    </div>

    --nothing follows--

  </div>

  <!-- ARNIS BLOCK -------------------------------------------------------------------------------->
  <div class="column2">
    <h2>Arnis Blocks</h2>

    <div class="row">
      <!-- Left Temple Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='m.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Temple Block:</p>
        <article> Face to the left, perform an outside block by bringing the arnis baston forward supported by the raised left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Right Temple Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='n.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Temple Block:</p>
        <article> Face to the right, perform an outside block by bringing the arnis baston forward supported by the raised left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Left Arm/Shoulder Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='o.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Arm/Shoulder Block:</p>
        <article> Face to the left, perform an outside block by bringing the arnis baston forward, supported by the left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Right Arm/Shoulder Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='p.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Arm/Shoulder Block:</p>
        <article> Face to the right, perform an outside block by bringing the arnis baston forward, supported by the left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Stomach Thrust Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='q.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Stomach Thrust Block:</p>
        <article> Face to the left, position the right hand near your left shoulder, elbows raised with the arnis baston pointing downwards away from the body. </article>
      </div>
    </div>

    <div class="row">
      <!-- Left Chest Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='r.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Chest Block:</p>
        <article> Face to the left, perform an outside block by bringing the arnis baston forward, supported by the left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Right Chest Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='s.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Chest Block:</p>
        <article> Face to the right, perform an outside block by bringing the arnis baston forward, supported by the left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Right Knee/Leg Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='t.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Knee/Leg Block:</p>
        <article> Face to the front, perform an outside block by bringing the arnis baston to your right, pointing downwards. Place the left hand on the left chest.</article>
      </div>
    </div>

    <div class="row">
      <!-- Left Knee/Leg Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='u.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Knee/Leg Block:</p>
        <article> Face to the front, perform an outside block by bringing the arnis between the center of your body and right hip, pointing downwards. Place the left hand on the left chest.</article>
      </div>
    </div>

    <div class="row">
      <!-- Left Eye Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='v.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Left Eye Block:</p>
        <article> Face to the left, perform an outside block by bringing the arnis baston forward supported by the raised left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Right Eye Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='w.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Right Eye Block:</p>
        <article> Face to the right, perform an outside block by bringing the arnis baston forward supported by the raised left hand at the middle of the baston.</article>
      </div>
    </div>

    <div class="row">
      <!-- Rising Block -->
      <div class="column3">
        <img src="{{ url_for('static', filename='x.png') }}" alt="Image did not load">
      </div>
      <div class="column4">
        <p>Rising Block:</p>
        <article> Raise the baston over the head with the hands on each end of the baston to block the opponent’s blow.</article>
      </div>
    </div>

    --nothing follows--

  </div>

</div>


</body>
</html>