{% extends "admin/base.html" %}

{% block style %}

<link rel="stylesheet" href=" {{ url_for('static', filename='bootstrap/css/bootstrap-table.min.css') }} ">

{% endblock style %}

{% block content %}

    <div class="d-sm-flex justify-content-between align-items-center my-0 mx-2">
        <h3 class="text-dark mx-3">
            <br>
            TEACHERS
        </h3>
    </div>


<!--    Teachers list-->
    <div class="container px-5">
        <div id="teacherListTableContainer" class="rounded-3 my-1 text-dark">

            <div class="input-group mb-3 float-end w-50">

                <select id="selectTable" class="form-select" aria-label="User status filter">
                    <option value="" selected>All</option>
                    <option value="active">Active</option>
                    <option value="disabled">Disabled</option>
                </select>

                <input id="searchTable" type="text" class="form-control w-50" aria-label="Search input" placeholder="Search...">

            </div>

            <table class="table table-light table-sm"
            id="teacherListTable"
            data-toggle="table"
            data-pagination="true"
            data-sort-name="last_name"
            data-sort-order="asc"
            data-show-toggle="false">

                <thead>
                    <tr>
                        <th data-field="last_name" data-sortable="true">Surname</th>
                        <th data-field="first_name" data-sortable="true">Given Name</th>
                        <th data-field="status" data-sortable="true">Status</th>
                        <th data-field="actions" data-width="100">Actions</th>
                    </tr>
                </thead>

                <tbody id="teacherListTableBody">
                    {% for teach in teacher %}
                        <tr>
                            <td>{{teach[1].last_name}}</td>
                            <td>{{teach[1].first_name}}</td>
                            <td>
                                {% if teach[1].active == 1 %}
                                    Active
                                {% else %}
                                    Disabled
                                {% endif %}
                            </td>
                            <td class="text-center">

<!--                                   Action to View Handled Sections List Modal-->
                                <a class="viewSectionList px-1" teacher_id="{{teach[0].teacher_id}}" style="cursor: pointer; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#teacherSectionListModal">
                                    <i class="fas fa-solid fa-users" data-bs-toggle="tooltip" data-bs-placement="top" title="Sections handled" style="color: #c46d38;"></i>
                                </a>

<!--                                   Action to View Teacher Info Modal-->
                                <a class="viewTeacherInfo px-1" teacher_id="{{teach[0].teacher_id}}" style="cursor: pointer; text-decoration: none;" data-bs-toggle="modal" data-bs-target="#teacherMoreInfoModal">
                                    <i class="fas fa-solid fa-circle-info" data-bs-toggle="tooltip" data-bs-placement="top" title="More Info.." style="color: #EDB518;"></i>
                                </a>

                            </td>
                        </tr>
                    {% endfor %}
                </tbody>

            </table>

        </div>
    </div>

<!--    Teacher Info Modal-->
<div class="modal fade" id="teacherMoreInfoModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <i class="fas fa-solid fa-circle-info fs-5 pe-1" style="color: #EDB518;"></i>
                &nbsp;
                <h5 class="modal-title text-black" id="teacherMoreInfoModalHeader">
                    Teacher Name (Last, First)
                </h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close" onClick="window.location.reload();"></button>
            </div>
            <div class="modal-body" id="teacherMoreInfoModalBody">
                ...
            </div>
            <div class="modal-footer">
                <!--          Flash message-->
                <div class="py-0 alert" style="display: none;" id="statChangeFlash"></div><br>
                <div class="btn-group userStatus" role="group" aria-label="Basic radio toggle button group" id="userStatus">
                    <input type="radio" class="btn-check" name="userStatus" id="statusActive" autocomplete="off" value="1" user_id checked>
                    <label class="btn btn-outline-success" for="statusActive">Active</label>

                    <input type="radio" class="btn-check" name="userStatus" id="statusInactive" autocomplete="off" value="0" user_id>
                    <label class="btn btn-outline-danger" for="statusInactive">Inactive</label>
                </div>
            </div>
        </div>
    </div>
</div>


<!--    Section List Modal-->
<div class="modal fade" id="teacherSectionListModal" data-bs-backdrop="static" data-bs-keyboard="true" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
  <div class="modal-dialog modal-xl modal-dialog-scrollable">
    <div class="modal-content">
      <div class="modal-header">
        <i class="fas fa-solid fa-users" style="color: #c46d38;"></i>
          &nbsp;
        <h5 class="modal-title text-black" id="teacherSectionListModalHeader">
            SECTIONS - Teacher Name (Last, First)
        </h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body" id="teacherSectionListModalBody">

        <table class="table table-light table-sm"
            id="sectionListTable"
            data-toggle="table"
            data-search="true"
            data-search-accent-neutralise="true"
            data-search-align="right"
            data-pagination="true"
            data-sort-name="section_no"
            data-sort-order="asc"
            data-show-toggle="false"
            data-show-search-button="false"
            data-detail-formatter="detailFormatter"
            data-search-on-enter-key="false">

                <thead>
                    <tr>
                        <th data-field="section_no" data-sortable="true" data-width="100">Section Number</th>
                        <th data-field="strand_name" data-sortable="true">Strand</th>
                        <th data-field="track_name" data-sortable="true">Track</th>
                        <th data-field="population" data-sortable="true" data-width="100">Population</th>
                    </tr>
                </thead>
            </table>

      </div>
    </div>
  </div>
</div>



{% endblock content %}

{% block extra_js %}

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap-table.min.js') }}"></script>
<script src="{{ url_for('static', filename='js/adminSetter.js') }}"></script>
<script src="{{ url_for('static', filename='js/ModalViewTeacher.js') }}"></script>
<script src="{{ url_for('static', filename='js/userStatusChanger.js') }}"></script>
<script src="{{ url_for('static', filename='js/ModalViewSection.js') }}"></script>
<script src="{{ url_for('static', filename='js/teacherReload.js') }}"></script>

<script>
$(document).ready(function () {
    $("#teacherTab").addClass('active');
});
</script>

<script>
    //Search filter
    $(document).ready(function(){
      $("#searchTable").on("keyup", function() {
        var value = $(this).val().toLowerCase();
        $("#teacherListTableBody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

<script>
    //Select filter
    $(document).ready(function(){
      $("#selectTable").on("change", function() {
        var value = $(this).val().toLowerCase();
        $("#teacherListTableBody tr").filter(function() {
          $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
        });
      });
    });
</script>

{% endblock extra_js %}